body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
} 

nav {
  background-color: rgb(33, 121, 80) !important;
  min-height: 80px;
  width: 100%;
  /* color: rgb(240, 240, 240); */
}

nav a {
  /* color: white !important; */
  font-weight: bold;
}

@media ( min-width: 576px ) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.carousel-item {
  min-height: 350px;
  max-height: 350px;
}

.carousel-item img {
  margin-top: -100px;
}

content {
  display: flex;
  flex-direction: column;
}

.event-info {
  width: 80%;
  padding: 2em 5em;
  align-self: center;
  text-align: center;
  font-size: 20px;
}

h2 {
  font-size: 3rem;
  padding: 1em 0;
  text-transform: uppercase;
  color: grey;
  text-align: center;
}

.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5em;
} 

.newsletter > input {
  width: 30em;
} 

.sport-info img {
  width: 100%;
  height: 100%;
}

.sport-item {
  padding: 2em 0;
} 

footer {
  background-color: rgb(33, 121, 80);
  height: 80px;
  width: 100%;
} 
